.button-color {
    background-color: #27AE60;
    border-color: #27AE60;
    min-width: 130px;
}

.button-color:hover {
    background-color: #3be682 !important;
    border-color: #3be682 !important;
}
.container-button {
    width: 60%;
}


.header-image {
    width: 100%;
    padding: 0;
    height: 20vh;
    object-fit: cover;
}