.phone-header-sm {
    width: 100%;
    padding: 0;
    height: 60vh;
    object-fit: cover;
}

.desktop-header-lg {
    width: 100%;
    padding: 0;
    height: 50vh;
    object-fit: cover;
}

.home-buttons {
    padding-top: 10vh;
    width: 50%;
    max-width: 200px;
    min-width: 130px;
}

.button-color {
    background-color: #27AE60;
    border-color: #27AE60;
    margin-top: 10%;
}

.button-color:hover {
    background-color: #3be682 !important;
    border-color: #3be682 !important;
}

@media only screen and (max-width: 666px) {
    .desktop-header-lg {
      display: none;
    }
}
@media only screen and (min-width: 666px) {
    .phone-header-sm {
      display: none;
    }
}